# Jupyter tmp files 
.ipynb_checkpoints

# VSCode settings
*.code-workspace
.vscode
__pycache__

# PyCharm
.idea

# Compiled files
*.pyc
*.dll
dist
*egg-info*

# Maya
.mayaSwatches

# custom settings -- to have customized local copy
system.json

# place to store render scenes
**/data_generation/Scenes

# file for small script tries
tmp*
*tmp*.mb
Logs*
output*

# Nicegui
.nicegui

# Data
body_samples_path/
datasets_path/
datasets_sim/
*.obj

# Testing code
test.ipynb